<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <h1>Welcome to {{ title }}!</h1>

    <h4>authentication.module.ts</h4>

    <table>
        <tr>
            <td>
                <app-login-component></app-login-component>
            </td>
        </tr>
        <tr>
            <td>
                <app-register-component></app-register-component>
            </td>
        </tr>
        <tr>
            <td>
                <app-help-component></app-help-component>
            </td>
        </tr>
    </table>

    <h4>content.module.ts</h4>
    <table>
        <tr>
            <td>
                <app-some-content></app-some-content>
            </td>
        </tr>
    </table>
</div>
