<h3>some-content-component works!</h3>
<p>I'm inside a component wrapped by <b><code>content.module.ts</code></b> which is also imported by <b><code>app.module.ts</code></b></p>

<p>Bacon ipsum dolor amet tenderloin beef ribs sausage frankfurter bresaola pork. Hamburger pancetta tenderloin, burgdoggen spare ribs swine alcatra. Pancetta pork belly ball tip pork loin bacon ham hock prosciutto kevin beef. Pig cupim cow, salami bresaola short loin shoulder porchetta. Bresaola ham alcatra, venison pig rump capicola kevin kielbasa doner buffalo ground round ribeye ball tip. Cow cupim ground round sirloin.</p>
<img class="bacon" src="../../../assets/images/bacon.jpg">